.THIS {
}

.THIS .verde{
    background-color: olivedrab;
    border: 2px solid crimson;
    margin: 1px;
    width: 100px;
    height: 70px; 
}
.THIS .rosa{
    background-color: pink;
    border: 2px solid crimson;
    margin: 1px;
    width: 100px;
    height: 70px; 
}