.THIS {
}

.THIS .verde{
    background-color: olivedrab;
    width: 100px;
    height: 70px; 
    border: 2px solid crimson;
    margin: 2px auto;
}
.THIS .rosa{
    background-color: pink;
    width: 100px;
    height: 70px; 
    border: 2px solid crimson;
    margin: 2px auto;
}